@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
}
.title_blue
{
    color: #0C92D1;
    font-size: 200%;
    padding-bottom: 10px;
}
.content_drugs{
    background: none repeat scroll 0 0 #FFFFFF;
    border: none;
    display: table;
    padding: 20px;
}
body {
    background: none repeat scroll 0% 0% white;
    color: #FFFFFF;
    font-family: 'lucida grande',verdana,helvetica,arial,sans-serif;
    font-size: 90%;
    margin: 0px auto;
    width: 100%;
}

a {
    color: #003D4C;
    font-weight: bold;
    text-decoration: underline;
}

a:hover {
    color: #367889;
    text-decoration: none;
}

a img {
    border: medium none;
}

h1, h2, h3, h4 {
    font-weight: normal;
    margin-bottom: 0.5em;
}

h1 {
    background: none repeat scroll 0px 0px #FFFFFF;
    color: #003D4C;
    font-size: 100%;
}

h2 {
    background: none repeat scroll 0% 0% #FFFFFF;
    color: #0C92D1;
    font-family: 'Gill Sans','lucida grande',helvetica,arial,sans-serif;
    font-size: 190%;
}

h3 {
    color: #2C6877;
    font-family: 'Gill Sans','lucida grande',helvetica,arial,sans-serif;
    font-size: 165%;
}

h4 {
    color: #999933;
    font-weight: normal;
}

ul, li {
    margin: 0px 12px;
}

p {
    margin: 0px 0px 1em;
}

#ZipFind1ViewForm .input text{
    width: 50%;
}
#zipfind1viewform div.submit{
}

#containerFAQ{
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #DADADA;
    box-shadow: 0px 2px 20px 5px #808080;
    margin: 30px auto;
    padding: 0px;
    text-align: left;
    width: 75%;
}
#containerPlans
{
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #DADADA;
    box-shadow: 0px 2px 20px 5px #808080;
    margin: 30px auto;
    padding: 0px;
    text-align: left;
    width: 75%;
}
#container {
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #DADADA;
    box-shadow: 0px 2px 20px 5px #808080;
    margin: 30px auto;
    padding: 0px;
    text-align: left;
    width: 75%;
}

body #header {
    margin: 0px auto;
    padding: 30px 20px;
    width: 75%;
}

#header {
    background: none repeat scroll 0% 0% white;
    color: #1292D3;
    font-size: 190%;
}

body #headline {
    background: url("../img/front_image.png") no-repeat scroll 0px center transparent;
    border-bottom: 1px solid #808080;
    border-radius: 10px 10px 0px 0px;
    color: #0C92D1;
    font-size: 200%;
    height: 280px;
    padding: 30px 20px;
    text-align: right;
}

#header h1 {
    color: #0C92D1;
    font-size: 120%;
    line-height: 20px;
    padding: 0px 30px;
}

#header h1 a {
    background: none repeat scroll 0% 0% #003D4C;
    color: #FFFFFF;
    font-weight: normal;
    text-decoration: none;
}

#header h1 a:hover {
    background: none repeat scroll 0% 0% #003D4C;
    color: #FFFFFF;
    text-decoration: underline;
}
#contentFAQ
{
    background: none repeat scroll 0 0 #FFFFFF;
    color: #333333;
    float: right;
    margin: 0 auto;
    overflow: auto;
    padding: 20px 50px;
    width: 65% !important;
}
#contentFAQ h2 {
    color:#ff8c00;
    font-size: 120%;
    font-weight: bold;
}
#contentFAQ p{
    color:#0C92D1;
    font-size: 14px;
}
#contentPlans
{
    background: none repeat scroll 0 0 #FFFFFF;
    color: #333333;
    float: right;
    margin: 0 auto;
    overflow: auto;
    padding: 20px 50px;
    width: 65% !important;
}
#contentPlans h2 {
    color:#ff8c00;
    font-size: 120%;
    font-weight: bold;
}
#contentPlans p{
    color:#0C92D1;
    font-size: 14px;
}
#content {
    background: none repeat scroll 0% 0% #FFFFFF;
    border-radius: 10px 10px 10px 10px;
    clear: both;
    color: #333333;
    overflow: auto;
    padding: 10px 20px 40px;
}
#sidebar {
    float: left;
    width: 20%;
    background: #BFBFBF;
    color: #ffffff;
    height: 100%;
}
#footer {
    background: none repeat scroll 0% 0% #1292D3;
    border-radius: 0px 0px 10px 10px;
    clear: both;
    padding: 50px;
    text-align: right;
}

#header a, #footer a {
    color: #FFFFFF;
}

div.form, div.index, div.view {
    border-left: 1px solid #666666;
    float: right;
    padding: 10px 2%;
    width: 76%;
}

div.actions {
    float: left;
    padding: 10px 1.5%;
    width: 16%;
}

div.actions h3 {
    color: #777777;
    padding-top: 0px;
}

table {
    border-right: 0px none;
    clear: both;
    color: #333333;
    margin-bottom: 10px;
    width: 100%;
}

th {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #555555;
    border-image: none;
    border-style: none none solid;
    border-width: 0px 0px 2px;
    padding: 4px;
    text-align: left;
}

th a {
    display: block;
    padding: 2px 4px;
    text-decoration: none;
}

th a.asc:after {
    content: " ⇣";
}

th a.desc:after {
    content: " ⇡";
}

table td {
    width: 25%;
}

table tr td {
    border-bottom: medium none;
    color: black;
    padding: 10px;
    text-align: left;
    vertical-align: top;
}

table tr:nth-child(2n) {
    background: none repeat scroll 0% 0% transparent;
}

td.actions {
    text-align: center;
    white-space: nowrap;
}

table td.actions a {
    margin: 0px 6px;
    padding: 2px 5px;
}

.cake-sql-log {
    background: none repeat scroll 0% 0% #FFFFFF;
}

.cake-sql-log td {
    font-family: Monaco,Consolas,"Courier New",monospaced;
    padding: 4px 8px;
    text-align: left;
}

.cake-sql-log caption {
    color: #FFFFFF;
}

.paging {
    background: none repeat scroll 0% 0% #FFFFFF;
    clear: both;
    color: #CCCCCC;
    margin-top: 1em;
}

.paging .current, .paging .disabled, .paging a {
    display: inline-block;
    padding: 5px 8px;
    text-decoration: none;
}

.paging > span {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #CCCCCC #CCCCCC #CCCCCC -moz-use-text-color;
    border-image: none;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px 0px;
    display: inline-block;
}

.paging > span:hover {
    background: none repeat scroll 0% 0% #EFEFEF;
}

.paging .prev {
    border-left: 1px solid #CCCCCC;
    border-radius: 4px 0px 0px 4px;
}

.paging .next {
    border-radius: 0px 4px 4px 0px;
}

.paging .disabled {
    color: #DDDDDD;
}

.paging .disabled:hover {
    background: none repeat scroll 0% 0% transparent;
}

.paging .current {
    background: none repeat scroll 0% 0% #EFEFEF;
    color: #C73E14;
}

dl {
    line-height: 2em;
    margin: 0em;
    width: 60%;
}

dl dd:nth-child(4n+2), dl dt:nth-child(4n+1) {
    background: none repeat scroll 0% 0% #F4F4F4;
}

dt {
    font-weight: bold;
    padding-left: 4px;
    vertical-align: top;
    width: 10em;
}

dd {
    margin-left: 10em;
    margin-top: -2em;
    vertical-align: top;
}

form {
    clear: both;
    margin-right: 20px;
    padding: 0px;
    width: 95%;
}

fieldset {
    border: medium none;
    margin-bottom: 1em;
    padding: 16px 10px;
}

fieldset legend {
    color: #EE3322;
    font-size: 160%;
    font-weight: bold;
}

fieldset fieldset {
    margin-top: 0px;
    padding: 10px 0px 0px;
}

fieldset fieldset legend {
    font-size: 120%;
    font-weight: normal;
}

fieldset fieldset div {
    clear: left;
    margin: 0px 20px;
}

form div {
    clear: both;
    margin-bottom: 20px;
    padding: 0.5em;
    vertical-align: text-top;
}

form .input {
    color: #444444;
}

form .required {
    font-weight: bold;
}

form .required label:after {
    color: #EE3322;
    content: "*";
    display: inline;
}

form div.submit {
    border: 0px none;
    clear: both;
    margin-top: 10px;
}

label {
    display: inline;
    float: left;
    font-size: 80%;
    margin-bottom: 3px;
}

#opener{
    background: #e8c418; /* Old browsers */
    background: -moz-linear-gradient(top,  #e8c418 0%, #f29b1a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8c418), color-stop(100%,#f29b1a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e8c418 0%,#f29b1a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e8c418 0%,#f29b1a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e8c418 0%,#f29b1a 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #e8c418 0%,#f29b1a 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8c418', endColorstr='#f29b1a',GradientType=0 ); /* IE6-9 */
    border: none;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    font-weight: bold;
    margin: 20px 0 20px 20px;
    padding: 5px;
    position: relative;
    z-index: 10000;
}
#opener .submit
{
    background: none;
    color: #FFFFFF;
    font-weight: bold;
}
input, textarea {
    border-radius: 5px 5px 5px 5px;
    clear: both;
    float: right;
    font-family: "frutiger linotype","lucida grande","verdana",sans-serif;
    font-size: 80%;
    margin-top: -40px;
    padding: 1%;
    width: 50%;
}

select {
    clear: both;
    font-size: 120%;
    vertical-align: text-bottom;
}

select[multiple="multiple"] {
    width: 100%;
}

option {
    font-size: 120%;
    padding: 0px 3px;
}

input[type="checkbox"] {
    clear: left;
    float: left;
    margin: 0px 6px 7px 2px;
    width: auto;
}

div.checkbox label {
    display: inline;
}

input[type="radio"] {
    float: left;
    line-height: 26px;
    margin: 6px 0px;
    padding: 0px;
    width: auto;
}

.radio label {
    line-height: 26px;
    margin: 0px 0px 6px 20px;
}

input[type="submit"] {
    display: inline;
    font-size: 100%;
    margin: 0px auto;
    width: auto;
}

form .submit input[type="submit"] {
    background: #e8c418; /* Old browsers */
    background: -moz-linear-gradient(top,  #e8c418 0%, #f29b1a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8c418), color-stop(100%,#f29b1a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e8c418 0%,#f29b1a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e8c418 0%,#f29b1a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e8c418 0%,#f29b1a 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #e8c418 0%,#f29b1a 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8c418', endColorstr='#f29b1a',GradientType=0 ); /* IE6-9 */
    color: #FFFFFF;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
    font-size: 80%;
    font-weight: bold;
    width: 100%;
    
    border: 1px solid #2D6324;
    border-radius: 5px 5px 5px 5px;
}

form .submit input[type="submit"]:hover {
    background: none repeat scroll 0% 0% #e8c418;
    font-size: 80%;
    font-weight: bold;
}

form .error {
    background: none repeat scroll 0% 0% #FFDACC;
    border-radius: 4px 4px 4px 4px;
    font-weight: normal;
}

form .error-message {
    background: none repeat scroll 0% 0% transparent;
    border: medium none;
    margin: 0px;
    padding-left: 4px;
    padding-right: 0px;
}

form .error, form .error-message {
    box-shadow: none;
    color: #9E2424;
    text-shadow: none;
}

.message {
    clear: both;
    color: #FFFFFF;
    font-size: 140%;
    font-weight: bold;
    margin: 0px 0px 1em;
    padding: 5px;
}

.success, .message, .cake-error, .cake-debug, .notice, p.error, .error-message {
    background: -moz-linear-gradient(center top , #FFCC00, #E6B800) repeat-x scroll 0% 0% #FFCC00;
    border-radius: 4px 4px 4px 4px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.25) inset;
    color: #404040;
    margin-bottom: 18px;
    padding: 7px 14px;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
}

.success, .message, .cake-error, p.error, .error-message {
    background: -moz-linear-gradient(center top , #EE5F5B, #C43C35) repeat-x scroll 0% 0% #C43C35;
    border: 1px solid rgba(0, 0, 0, 0.5);
    clear: both;
    color: #FFFFFF;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}

.success {
    background: -moz-linear-gradient(center top , #76BF6B, #3B8230) repeat-x scroll 0% 0% #3B8230;
    border: 1px solid rgba(0, 0, 0, 0.5);
    clear: both;
    color: #FFFFFF;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}

p.error {
    font-family: Monaco,Consolas,Courier,monospace;
    font-size: 120%;
    margin: 1em 0px;
    padding: 0.8em;
}

p.error em {
    font-weight: normal;
    line-height: 140%;
}

.notice {
    color: #000000;
    display: block;
    font-size: 120%;
    margin: 1em 0px;
    padding: 0.8em;
}

.success {
    color: #FFFFFF;
}

.actions ul {
    margin: 0px;
    padding: 0px;
}

.actions li {
    list-style-type: none;
    margin: 0px 0px 0.5em;
    padding: 0px;
    white-space: nowrap;
}

.actions ul li a {
    clear: both;
    display: block;
    font-weight: normal;
}

input[type="submit"], .actions ul li a, .actions a {
    background: #e8c418; /* Old browsers */
    background: -moz-linear-gradient(top,  #e8c418 0%, #f29b1a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8c418), color-stop(100%,#f29b1a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e8c418 0%,#f29b1a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e8c418 0%,#f29b1a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e8c418 0%,#f29b1a 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #e8c418 0%,#f29b1a 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8c418', endColorstr='#f29b1a',GradientType=0 ); /* IE6-9 */
    border-radius: 4px 4px 4px 4px;
    border: 1px solid #BBBBBB;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3) inset, 0px 1px 1px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-weight: bold;
    font-size: 90%;
    min-width: 0px;
    padding: 4px 8px;
    text-decoration: none;
    text-shadow: 1px 1px gray;

}

.actions ul li a:hover, .actions a:hover {
    background: none repeat scroll 0% 0% #EDEDED;
    border-color: #ACACAC;
    text-decoration: none;
}

input[type="submit"]:active, .actions ul li a:active, .actions a:active {
    background: #e8c418; /* Old browsers */
    background: -moz-linear-gradient(top,  #e8c418 0%, #f29b1a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8c418), color-stop(100%,#f29b1a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e8c418 0%,#f29b1a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e8c418 0%,#f29b1a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e8c418 0%,#f29b1a 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #e8c418 0%,#f29b1a 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8c418', endColorstr='#f29b1a',GradientType=0 ); /* IE6-9 */
    border-color: #AAAAAA;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3) inset;
    text-decoration: none;
    text-shadow: 0px 1px 0px #EEEEEE;
}
.black_header {
  background: #231F20;
  color: orange;
  font-weight: bold;
  font-size: 12px;
  font-family: Arial;
  padding: 10px;
  border-top: 1px solid #6a6a6a;
  border-bottom: 1px solid #6a6a6a;
  width: 100%;
}
.black_header th, .black_header td {
  border-right: 1px solid #6a6a6a;
}

.black_border {
  border: 1px solid #6a6a6a;
  border-radius: 0 0 6px 6px;
}
.black-border td {
  border-bottom: medium none;
  color: #6a6a6a;
  line-height: 30px;
  padding: 5px;
  text-align: left;
  vertical-align: top;
}

.related {
    clear: both;
    display: block;
}

pre {
    background: none repeat scroll 0% 0% #F0F0F0;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    color: #000000;
    padding: 15px;
}

.cake-debug-output {
    padding: 0px;
    position: relative;
}

.cake-debug-output > span {
    background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.3);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25) inset, 0px 1px 0px rgba(255, 255, 255, 0.5);
    color: #000000;
    display: block;
    float: left;
    padding: 5px 6px;
    position: absolute;
    right: 5px;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8);
    top: 5px;
}

.cake-debug, .cake-error {
    clear: both;
    font-size: 16px;
    line-height: 20px;
}

.cake-error > a {
    text-shadow: none;
}

.cake-error {
    white-space: normal;
}

.cake-stack-trace {
    background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.7);
    border-radius: 4px 4px 4px 4px;
    color: #333333;
    font-size: 120%;
    line-height: 140%;
    margin: 10px 0px 5px;
    overflow: auto;
    padding: 10px 10px 0px;
    position: relative;
}

.cake-stack-trace a {
    background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.7);
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3) inset;
    display: inline-block;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 14px;
    margin: 0px 4px 10px 2px;
    padding: 5px;
    text-decoration: none;
    text-shadow: none;
}

.cake-code-dump pre {
    overflow: auto;
    position: relative;
}

.cake-context {
    margin-bottom: 10px;
}

.cake-stack-trace pre {
    background-color: #F0F0F0;
    color: #000000;
    margin: 0px 0px 10px;
    overflow: auto;
    padding: 1em;
    text-shadow: none;
}

.cake-stack-trace li {
    background: -moz-linear-gradient(center top , #FEFEFE, #DCDCDC) repeat scroll 0% 0% #DCDCDC;
    border-radius: 4px 4px 4px 4px;
    border: 1px solid #BBBBBB;
    font-family: monospace;
    margin: 0px 0px 4px;
    padding: 10px 5px 0px;
}

.cake-code-dump pre, .cake-code-dump pre code {
    clear: both;
    font-size: 12px;
    line-height: 15px;
    margin: 4px 2px;
    overflow: auto;
    padding: 4px;
}

.cake-code-dump .code-highlight {
    background-color: rgba(255, 255, 0, 0.5);
    display: block;
}

.code-coverage-results div.code-line {
    display: block;
    margin-left: 10px;
    padding-left: 5px;
}

.code-coverage-results div.uncovered span.content {
    background: none repeat scroll 0% 0% #EECCCC;
}

.code-coverage-results div.covered span.content {
    background: none repeat scroll 0% 0% #CCEECC;
}

.code-coverage-results div.ignored span.content {
    color: #AAAAAA;
}

.code-coverage-results span.line-num {
    color: #666666;
    display: block;
    float: left;
    margin-right: 5px;
    text-align: right;
    width: 20px;
}

.code-coverage-results span.line-num strong {
    color: #666666;
}

.code-coverage-results div.start {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #AAAAAA;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 0px;
    margin-top: 30px;
    padding-top: 5px;
}

.code-coverage-results div.end {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #AAAAAA;
    border-image: none;
    border-style: solid;
    border-width: 0px 1px 1px;
    margin-bottom: 30px;
    padding-bottom: 5px;
}

.code-coverage-results div.realstart {
    margin-top: 0px;
}

.code-coverage-results p.note {
    color: #BBBBBB;
    font-size: 10px;
    margin: 5px 0px 10px;
    padding: 5px;
}

.code-coverage-results span.result-bad {
    color: #AA0000;
}

.code-coverage-results span.result-ok {
    color: #FFAA00;
}

.code-coverage-results span.result-good {
    color: #00AA00;
}

#url-rewriting-warning {
    display: none;
}

#ZipFind1ViewForm  div.submit {
    border: 0 none;
    float: right;
    margin-top: -10px;
    width: 50%;
}
#ZipFind1ViewForm input, textarea{
    border-radius: 5px 5px 5px 5px;
    float: left;
    font-family: "frutiger linotype","lucida grande","verdana",sans-serif;
    font-size: 80%;
    margin-left: 30%;
    margin-top: -30px;
    padding: 1%;
    width: 30%;
}
#ZipFind1ViewForm label{
    font-size: 100%;
    font-weight: bold;
    padding-right: 10px;
    padding-left: 17%;
}
#ZipFind1ViewForm form .submit input[type="submit"] {
    background: linear-gradient(to bottom, #E8C418 0%, #F29B1A 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-color: #2D6324;
    color: #FFFFFF;
    display: inline;
    float: left;
    font-size: 100%;
    font-weight: bold;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
    width: 62%;
}
#ZipFind1ViewForm form .input {

    color: #444444;
    float: left;
    width: 80%;
}
