@CHARSET "UTF-8";

.form-content {
  display: table;
  width: 100%;
}

.form-content div {
  display: table-row;
  width: 100%;
  border: 1px solid blue;
}

.form-content div * {
  clear: none;
  float: left;
  height: 20px;
  line-height: 20px;
  margin: 0 0 0 4px;
  padding: 0;
}

.form_submit_line * {
  float: left;
  display: inline;
}

.form_submit_line * {
  height: 30px;
  line-height: 30px;
}

.right_box {
  border: medium none !important;
  position: absolute;
  right: 0;
  top: 10px;
  width: 200px !important;
}

.right_box h1 {
  font-size: 100%;
  color: #1292d3;
  font-weight: bold;
}

.right_box span {
  font-size: 12px;
  line-height: 1.5;
}

.prettyButton,.form_submit_line button,.form_submit_line input {
  background: #e8c418; /* Old browsers */
  background: -moz-linear-gradient(top, #e8c418 0%, #f29b1a 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e8c418), color-stop(100%, #f29b1a)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e8c418 0%, #f29b1a 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e8c418 0%, #f29b1a 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e8c418 0%, #f29b1a 100%); /* IE10+ */
  background: linear-gradient(to bottom, #e8c418 0%, #f29b1a 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(   startColorstr='#e8c418', endColorstr='#f29b1a', GradientType=0); /* IE6-9 */
  border: 1px solid #333333;
  border-radius: 5px 5px 5px 5px;
  color: #FFFFFF;
  font-family: Arial;
  font-size: 90%;
  font-weight: bold;
  margin: 0 10px;
  padding: 2px 0 2px 10px;
  text-shadow: 2px -1px rgba(0, 0, 0, 0.5);
}

.prettyButton:hover,.form_submit_line button:hover,.form_submit_line input:hover {
  background: none repeat scroll 0% 0% #e8c418;
  font-size: 90%;
  font-weight: bold;
}

.blueButton {
  background: linear-gradient(to bottom, #63b8f3 10%, #1292d3 100%) repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
  border: 1px solid #333333;
  border-radius: 5px 5px 5px 5px;
  color: #FFFFFF;
  font-family: Arial;
  font-size: 90%;
  font-weight: bold;
  margin: 0 10px;
  padding: 0 10px;
  text-shadow: 2px -1px rgba(0, 0, 0, 0.5);
}

.form_submit_line {
  display: block;
  width: 200px;
}

.form_submit_line input,.form_submit_line button,.form_submit_line {
  width: auto;
}

/**** Begin: Customizing dialog boxes *********************************************************/
.medi-dialog {
  background: solid white;
  border: 1px solid black;
  box-shadow: 5px 5px 5px #333;
  border-radius: 10px;
  padding: 0;
  min-width: 400px;
}

.medi-dialog .ui-dialog-titlebar {
  position: relative;
  width: 100%;
  color: white;
  text-shadow: 2px 2px 2px #333333;
  background: none repeat scroll 0 0 #1292d3;
  border: none;
  border-radius: 8px 8px 0 0;
  float: left;
  margin: 0;
  padding: 10px 0 10px 0;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 30px;
  font-family: Arial;
  text-decoration: none;
  word-spacing: normal;
  text-align: left;
  letter-spacing: 0;
  line-height: 1.5em;
  font-size: 1.6em;
  font-weight: 10px;
}

.medi-dialog .ui-dialog-titlebar-close {
  display: none
}

.medi-dialog-title {
  
}
/**** End: Customizing dialog boxes ***********************************************************/
.acebox {
  border: 3px solid solid;
  border-radius: 10px 10px 10px 10px;
  /* box-shadow: 5px 5px 5px #333; */
  padding: 5px 5px 5px 5px;
}

.acebox h1 {
  color: #0C92D1;
  font-size: 2em;
}

.acebox p {
  font-family: Arial;
  background-color: #fff;
  color: #444;
  text-decoration: none;
  word-spacing: normal;
  text-align: justify;
  letter-spacing: 0;
  line-height: 1.4em;
  font-size: 1em;
}

.TitledForm {
  display: table;
  background-color: white;
  color: black;
  width: 400px;
  height: 190px;
  border: 1px solid #333;
  border-radius: 10px 10px 10px 10px;
  margin: 10px 10px 10px 0;
  text-align: center;
  vertical-align: middle;
  z-index: 1000;
}

.TitledForm .title {
  display: table-row;
  background-color: #1292d3;
  color: white;
  width: 100%;
  height: 45px; line-height: 45px;
  border: 1px solid #333;
  padding: 0;
  text-shadow: 1px 2px 2px #333333, 2px 2px 2px #333333;
  width: auto;
  overflow: hidden;
  z-index: 999;
  border-collapse: collapse;
  content: "";
}

.TitledForm .title span {
  display: inline;
  background: none;
  width: auto; height: auto;
}

.TitledForm .content {
  text-align: left;
}

.TitledForm .content div {
  display: table;
  float: left; clear: both; 
  width: 100%;
  padding: 10px 0 10px 0;
  margin: 0;
}

.TitledForm .content div * {
  display: table-cell;
  float: left; clear: none;
  padding: 0; margin: 0;
}

.TitledForm .content div button, .TitledForm .content div input[type='submit'], .TitledForm .content div input[type='button']  {
  margin-right: 5px !important;
}

.titled-form-row {
  float: left; clear: both; 
  width: 100%;
  border: none;
}
.titled-form-row * {
  float: left; clear: none;
}
.titled-form-row label {
  width: 100px;
  text-align: right;
}
.titled-form-row input[type='text'], .titled-form-row input[type='password'] {
  width: 200px;
}
.titled-form-row input[type='submit'], .titled-form-row input[type='button'] {
  margin: 0 0 0 10px;
}

.middle-buttons {
  border: none !important; 
  display: table !important;
  float: none !important;
  margin: auto !important;
  width: auto !important;
}

.blueForm {
  display: block;
  background-color: #1292d3;
  color: white;
  width: 400px;
  height: 190px;
  border: 1px solid #333;
  border-radius: 10px;
  margin: 10px 10px 10px 0;
  text-align: center;
  vertical-align: middle;
}

.blueForm div.ll {
  display: table;
  position: static;
  padding: 0;
  margin: auto;
  text-align: left;
  vertical-align: bottom;
  width: 360px;
  height: 150px;
  border: none;
}

.blueForm div div {
  display: table-row;
  float: left;
  clear: both;
  padding: 2px 0 2px 0;
  margin: 0;
  overflow: hidden;
  width: 100%;
  font-family: Arial;
}

.blueForm div div * {
  display: table-cell;
}

.blueForm div div button {
  float: left;
  clear: none;
  display: block;
  border: 1px solid #333;
  border-radius: 3px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  padding: 0;
  margin: 0 0 0 2px;
  font-familly: Arial;
  font-size: 10px;
  cursor: pointer;
}

.blueForm div p {
  color: white;
  font-family: Arial;
  font-size: 1em;
  background: none;
  text-indent: 0;
  margin: 0 0 20px 0;
}

.blueForm h2 {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  color: #FFFFFF;
  height: 45px;
  padding-top: 10px;
  text-shadow: 1px 2px 2px #333333, 2px 2px 2px #333333;
  width: auto;
}

.blue_header {
  background: #0C92D1 !Important;
  border-radius: 6px 6px 0 0;
  border: 1px solid #808080;
  color: white !Important;
  text-shadow: 1px 2px 2px #333333, 2px 2px 2px #333333 !Important;
  font-size: 14px;
  font-weight: bold;
  font-family: Arial;
  padding: 10px;
  margin-bottom: -2px;
  box-shadow: 2px -1px 1px gray;
}

.drug-list-footer {
  display: table;
  border: 1px solid #333;
  border-radius: 0 0 10px 10px;
  text-align: center; vertical-align: middle;
  width: 100%; height: 70px; line-height: 80px;
  margin: 0; padding: 0;
}

.drug-list-footer * {
  display: block !important;
  margin: auto !important;
  float: none !important;
  width: auto !important;
}

.list-drugs {
  width: 100%;
  content: none;
  padding: 0;
  margin: 0;
}