@CHARSET "UTF-8";

#MatchingPlansReport {
  border-bottom: 1px solid #808080;
  color: #000000;
  font-size: 22px;
  font-weight: bold;
  height: 50px;
  line-height: 50px;
  margin: 0;
  padding: 0;
  width: 100%;
}

#MatchingPlansReport .title {
  padding: 0;
  margin: 0 0 0 20px;
  height: 100%;
  text-indent: 20px;
}

#MatchingPlansReport .rows_per_page {
  font-size: 10px;
  color: #7e7e7e;
  float: right;
  margin: 0 10px 0 0;
}

#MatchingPlansReport .blueButton_Filter {
  font-size: 50%;
  left: 25%;
  padding: 4px 10px;
  position: relative;
  text-shadow: none;
  top: 0;
}

.PlanListForm {
  display: table;
  background-color: white;
  color: black;
  width: 90%;
  height: 220px;
  border: 1px solid #333;
  border-radius: 10px 10px 10px 10px;
  border-collapse: separate;
  margin: 10px auto;
  text-align: center;
  vertical-align: middle;
  z-index: 1000;
  overflow: hidden;
}
.PlanListForm div {
  margin: 0; padding: 0;
}

.PlanListForm .title {
  display: block;
  color: white;
  width: 100%;
  height: 45px; line-height: 45px;
  border: none;
  border-bottom: 1px solid #333;
  border-radius: 0;
  padding: 0;
  text-shadow: 1px 2px 2px #333333, 2px 2px 2px #333333;
  width: auto;
  overflow: hidden;
  z-index: 999;
  border-collapse: separate;
  content: "";
  background: #258dc8 !important; /* Old browsers */
    background: -moz-linear-gradient(top,  #258dc8 0%, #258dc8 100%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#258dc8), color-stop(100%,#258dc8)) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #258dc8 0%,#258dc8 100%)!important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #258dc8 0%,#258dc8 100%)!important; /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #258dc8 0%,#258dc8 100%)!important; /* IE10+ */
    background: linear-gradient(to bottom,  #258dc8 0%,#258dc8 100%)!important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#258dc8', endColorstr='#258dc8',GradientType=0 )!important; /* IE6-9 */
blueButtontext-align: left;
}

.PlanListForm .title span {
  display: inline;
  background: none;
  width: auto; height: auto;
  margin: 0 0 0 10px;
}

.PlanListForm .title .stars {
  clear: none;
  display: table;
  float: right;
  height: 24px;
  margin: 10px;
  width: auto;
}

.PlanListForm .title .stars div {
  background: url("../stars.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
  clear: none;
  float: left;
  height: 24px;
  margin: 0;
  padding: 0;
  width: 24px;
}

.PlanListForm .content {
  text-align: left;
  padding: 10px;
  margin: 0 !important;
}

.PlanListForm .content div div {
  display: table;
  float: left; clear: both; 
  width: 100%;
  padding: 10px 0 10px 0;
  margin: 0;
}

.PlanListForm .content div * {
  display: table-cell;
  float: left; clear: none;
  padding: 0; margin: 0;
}

.PlanListForm .content div button, .PlanListForm .content div input[type='submit'], .PlanListForm .content div input[type='button']  {
  margin-right: 5px !important;
}

.PlanFindItem {
  float: left;
  clear: none;
  width: 85%;
  margin: 0;
  padding: 0;
}

.PlanListForm .PlanItemMenu {
  float: right;
  clear: none;
  margin: 0;
  padding: 0;
  width: 15%;
}

.PlanListForm .PlanItemMenu .submit {
  margin: 4px 0 0 0;
  padding: 0;
}

.PlanListForm .PlanItemMenu .submit .blueButton{
background: #258dc8 !important; /* Old browsers */
    background: -moz-linear-gradient(top,  #258dc8 0%, #258dc8 100%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#258dc8), color-stop(100%,#258dc8)) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #258dc8 0%,#258dc8 100%)!important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #258dc8 0%,#258dc8 100%)!important; /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #258dc8 0%,#258dc8 100%)!important; /* IE10+ */
    background: linear-gradient(to bottom,  #258dc8 0%,#258dc8 100%)!important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#258dc8', endColorstr='#258dc8',GradientType=0 )!important; /* IE6-9 */
    
}
#btnFilterPlans{
background: #258dc8 !important; /* Old browsers */
    background: -moz-linear-gradient(top,  #258dc8 0%, #258dc8 100%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#258dc8), color-stop(100%,#258dc8)) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #258dc8 0%,#258dc8 100%)!important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #258dc8 0%,#258dc8 100%)!important; /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #258dc8 0%,#258dc8 100%)!important; /* IE10+ */
    background: linear-gradient(to bottom,  #258dc8 0%,#258dc8 100%)!important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#258dc8', endColorstr='#258dc8',GradientType=0 )!important; /* IE6-9 */
  
}
.PlanListForm .PlanItemMenu .submit * {
  font-size: 80%;
  padding: 5px;
  text-shadow: none;
  width: 100px;
  cursor: pointer;
   
}

#PlanListByZip {
   display: block;
   margin: 0;
   padding: 0;
}

#FilterPlansOptions, #FilterPlansButtons {
  display: table;
  width: auto;
  height: auto;
  overflow: hidden;
  padding: 0;
  margin: 0;
  float: left;
  clear: both;
  width: 100%;
}
#FilterPlansOptions > div {
  display: table-row;
  float: left;
  clear: none;
  padding: 0;
  margin: 0;
}
#FilterPlansOptions > div > .title, #FilterPlansOptions > div > .options {
  display: block;
  float: left;
  clear: both;
  margin: 0 0 2px 0;
  padding: 0;
  min-width: 200px;
}

#FilterPlansOptions .title {
  color: #1790d7;
    font-weight: bold;
}

.FilterForm {
  width: auto;
}

#FilterPlansButtons > * {
  float: right;
  clear: none;
  font-size: 80%;
  font-weight: bold;
  text-shadow: none;
  padding: 4px 10px 4px 10px;
  width: auto; height: auto;
}
